<div class="col">
  <div class="card relative">
    <img [src]="product.thumbnail" class="card-img-top background" alt="">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title">{{product.title}}</h5>
        <div class="card-title fs-bold fs-4 text-primary">{{product.price | currency:'USD': 'symbol'}}</div>

      </div>
      <p class="card-text">{{product.description}}</p>
      <p class="rating">{{product.rating | rating}}</p>
      <button class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button>
      <button class="btn btn-secondary ms-3" (click)="handelToDetails(product.id)">Veiw Product</button>
    </div>
    <div class="stock" [ngClass]="product.stock !=0 ? 'in-stock': 'out-stock'">{{product.stock !=0 ? 'In Stock': 'Out Stock'}}</div>
  </div>
</div>